@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

/* Global Background */
html {
  font-family: "Work Sans", sans-serif;
}
body {
  background-color: #f0eeee;
  color: #333;
}

/* Sidebar */
.sidebar 
{
  background-color: #3d312e;
  color: #f0eeee;
}

/* Navbar */
.navbar {
  background-color: #3d312e;
  color: white;
}

/* Button Styles */
.button {
  background: #f0eeee;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  transition: background 0.3s ease;
}
.button2 {
  background: #948585;
  color: #f0eeee;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  transition: background 0.3s ease;
}

.button:hover {
  background: #948585;
  color: #f0eeee;
}

.button2:hover {
  background: #3d312e;
  color: #f0eeee;
}

.calendar-container {
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

